section{
    display: flex;
    align-items: center;
    justify-content:center;
}
.btn_naver{
    display: block;
    position: relative;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background: rgb(40,209,17);
    color: #fff;
}

.space_or {
    position: relative;
    height: 40px;
    margin-bottom: 8px;
}

.space_or:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.08);
}

.container_login {
    height: 557px;
    width: 336px;
}

.bs_img {
    height: 120px;
    width: 90px;
}

.my_best_book{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr
}


@media (min-width: 1024px){
.layer_fix .btn_start {
    height: 56px;
    font-size: 16px;
    line-height: 56px;
}}
