/*profile CSS*/

/**{*/
/*    border: 1px solid blue;*/
/*}*/

.profile_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}


/*프로필 영역*/
.profile_top-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    margin-top: 10px;
}

.profile_image_name_box{
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.profile_image_box{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.profile_image{
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.profile_name{
    font-family: 'Do Hyeon', sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    font-size: 23px;
    color: black;
}

.profile_name_button{
    margin-top: 3.5px;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/19950/screenshots/16816902/media/ffd8e585dde623cbf29ccc24b2a783b3.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

.profile_follower{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-right: 50px;
    font-size: 23px;
    cursor: pointer;
}

.follower_num{
    font-family: 'Yeon Sung', cursive;    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.profile_following{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    margin-left: 50px;
    font-size: 23px;
    cursor: pointer;
}

.following_num{
    font-family: 'Yeon Sung', cursive;    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

/*책 영역*/
.profile_book-area{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 5px;
}

.profile_book_category{
    font-size: 20px;
    margin-bottom: 5px;
}

.profile_book_category_button{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    margin-top: 3.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 60px;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/16780236/media/b86f5834727702987cfb09d50da050a6.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

.profile_book_box{
    display: flex;
    flex-direction: row;
    height: 300px;
    overflow-x: scroll;
    border: none;
    border-radius: 10px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/15937123/media/3d665c8c88cb8359c87f1bf8e863b6f9.png?compress=1&resize=1200x900&vertical=top ");
    /*background-position: center;*/
    /*background-size: contain;*/

}


.profile_book{
    margin: 20px 20px 0px 30px;
}

/*.profile_book_image_box{*/
/*    width: 150px;*/
/*    height: 220px;*/
/*}*/

/*.profile_book_image{*/
/*    width: 150px;*/
/*    height: 220px;*/
/*    border-radius: 10px;*/
/*    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;*/
/*}*/

.profile_book_image_box{
    width: 146px;
    height: 226px;
    border-radius: 5px;

    position: relative;
    z-index:1;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /*box-shadow: rgba(136, 165, 191, 0.48) 10px 5px 20px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;*/
}


.profile_book_image_box::before{
    width: 146px;
    height: 226px;
    border-radius: 5px;

    z-index:-1;
    position: absolute;
    content:"";
    left:10px;
    top:0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    filter: blur(0px);
}

.profile_book_image{
    width: 150px;
    height: 220px;
    margin: 3px 0px 0px 3px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s linear;
    cursor: pointer;
    filter: brightness(85%);
}

.profile_book_image:hover{
    transform: scale(1.05);
    border: solid 5px palegreen;
    filter: brightness(105%);
}


.profile_book_name_box{
    margin-top: 5px;
}

.profile_book_name{
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    font-size: 14px;
    width: 155px;
}

.profile_book_name_button{
    background-image: url("https://cdn.dribbble.com/users/1785433/screenshots/17812151/media/a5dc7c7e163f7b2dc7751056878b29c1.gif");
    margin-top: 3.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 155px;
    border: none;
    border-radius: 4px;
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}



/*리뷰 영역*/
.profile_review-area{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: 50px;
}

.profile_review_category{
    font-size: 20px;
    margin-bottom: 5px;
}

.profile_review_category_button{
    margin-top: 3.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/16780236/media/b86f5834727702987cfb09d50da050a6.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

.profile_review_box{
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    border: none;
    border-radius: 10px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/14757059/media/f7e3a92944cea7d74e4103327f882994.jpg?compress=1&resize=1200x900&vertical=top");
}

.profile_review{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    border: none;
}

.profile_review_title{
    flex-shrink: 0;
    width: 100px;
    height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-left: 15px;
}

.profile_review_title_button{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    margin-top: 3.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    border: none;
    border-radius: 4px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/14892346/media/77afcf3d102cb8d87ff4460c046d6c78.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


.profile_review_content{
    font-family: 'Noto Serif KR', serif;
    flex-shrink: 0;
    width: 800px;
    height: 30px;
}

.profile_review_content_button{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    margin-top: 3.5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 800px;
    border: none;
    border-radius: 4px;
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/14892346/media/77afcf3d102cb8d87ff4460c046d6c78.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.profile_review_date{
    flex-shrink: 0;
    width: 170px;
    height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.profile_review_date_button{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    background-image: url("https://cdn.dribbble.com/users/59100/screenshots/13968489/media/15bef85c37eb3ea3be05051961e3c40d.jpg?compress=1&resize=1200x900&vertical=top");
    margin-top: 3.5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 160px;
    border: none;
    border-radius: 4px;
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}
