
/**{*/
/*    border: 1px solid blue;*/
/*}*/


.my_name_button{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 23px;
    margin-top: 3.5px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/3742223/screenshots/18441609/media/796a39add3579698c1613f7ddb746ab7.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
    background-position: center;
    background-size: 100%;
}

.user_name_button{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    margin-top: 3.5px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/10428614/screenshots/18424011/media/0ae08b93581d3240484cb982965f1d20.png?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
    background-position: center;
    background-size: 100%;
}

.follow_cancle_button{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    margin-top: 3.5px;
    text-align: center;
    padding: 1px 6px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/users/8703552/screenshots/18432346/media/40250e51d8f29c6dfedfd7e18d474d2c.jpg?compress=1&resize=1200x900&vertical=top");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
}

.follow_on_button{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    margin-top: 3.5px;
    text-align: center;
    padding: 1px 6px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 7px;
    background-image: url("https://cdn.dribbble.com/userupload/2803626/file/original-e7db44dd67d28decbde8f413e091dfae.jpg?compress=1&resize=2400x1800");
    color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
}