{% extends 'base.html' %}

{% block title %}
    도서 상세 정보
{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script src="https://kit.fontawesome.com/6a078ab7ec.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        window.setTimeout(function () {
            $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);

        function colorChange() {
            var buttonCart = document.getElementById("cart")
            buttonCart.style.color = "#00B4CC";
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container timeline-container" style="">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
                 role="alert">
                {{ message }}
                {#                <button type="button" class="close" data-dismiss="alert"#}
                {#                        aria-label="Close">#}
                {#                    <span aria-hidden="true">&times;</span>#}
                {#                </button>#}
            </div>
        {% endfor %}
        <div class="col-md-7" style="width: 100%;">
            <div style="display:flex; width:100%; height:100%; justify-content: center;">
                <div class="book-area" id="book-area" name="book-area"
                     style="display: flex; flex-direction: column; flex-wrap: wrap">

                    {# book data #}
                    <div class="book" style="display: flex; flex-direction: column">
                        <div class="book-img"
                             style="width:200px; height: 240px; background-color: black; margin-right: 30px;">
                            <img src={{ book.img_url }} class="thumb-book-img" id="thumb-book-img"
                                 style="width: 100%;height: 100%">
                        </div>
                        <div class="book-info" style="display: flex; flex-direction: column; margin-top: 20px">
                            <div class="book-info-title">
                                <span style="font-size: large; font-weight: bold">{{ book_title }}</span><br>
{#                                <span style="font-size: large; font-weight: bold">{{ book_sectitle }}</span>#}
                            </div>
                            <div class="book-info-author">
                                <span style="font-size: small"> 저자 : {{ book.author }} | 출판사 : {{ book.publisher }}</span>
                            </div>
                            <div class="book-info-desc">
                                <span style=""> {{ book.description }} </span>
                            </div>
                        </div>
                        <div class="book-btn" style="display: flex; flex-direction: row;">
                            <a href="https://search.shopping.naver.com/search/all?query={{ book_title }}&cat_id=&frm=NVSHATC"
                               target="_blank">
                                <button class="w-btn-outline w-btn-skin-outline" type="button" onclick="colorChange()">
                                    <i id="cart" class="fa-solid fa-cart-shopping"></i>
                                </button>
                            </a>
                            <a href="/book/likes/{{ book.id }}">
                                {% if like_exist %}
                                    <button class="w-btn-outline w-btn-skin-outline like-btn" type="button"
                                            style="margin-top: 10px;color:red;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button class="w-btn-outline w-btn-skin-outline like-btn" type="button"
                                            style="margin-top: 10px;color:white;">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer-area" style="margin-top: 50px">
                <h5>사용자 리뷰</h5>
                <hr>
                <!-- 반복문이 들어 갈 곳 -->
                {% for rv in reviews %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0"> {{ rv.content }} </h5>
                                    <span> {{ rv.writer }} </span>
                                    <span> - {{ rv.created_at | timesince }} 전</span>
                                </div>
                                {% if rv.writer == user %}
                                    <div style="float: right">
                                        <a href="/book/review/delete/{{ rv.id }}">
                                            <span class="badge bg-danger">삭제</span>
                                        </a>
                                    </div>
                                    <div style="float: right; margin-right:5px;">
                                        <a href="/book/review/edit/{{ rv.id }}">
                                            <span class="badge bg-danger" style="background-color: #003366!important;">수정</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <form class="input-group mb-3" action="/book/review/{{ book.id }}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" cols="30" rows="5" id='my-review' name='my-review'
                              placeholder="리뷰를 작성 해 주세요"></textarea>
                    <button class="btn btn-outline-secondary" type="submit">작성</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}