{% extends 'base.html' %}

{% block title %}
    홈
{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://kit.fontawesome.com/6a078ab7ec.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 3000);


        })

        function set_recommend_list() {
            if ($('#right-area').attr('class') == 'col-md-6') {
                $('#left-area').hide()
                $('#right-area').attr('class', 'col-md-12')
                $('#set_recommend_btn').text("관심 목록 보이기")
            } else {
                $('#right-area').attr('class', 'col-md-6')
                $('#left-area').show()
                $('#set_recommend_btn').text("관심 목록 숨기기")
            }
        }
    </script>
{% endblock %}
{% block content %}
    {% autoescape off %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container timeline-container" style="">
            <div class="bestseller-area">
                <p class="top-title">베스트 셀러 70</p>
                <div class="bestseller">
                    {% for bestseller in bestseller_list %}
                        <div class="bestseller-book">
                            <div class="bestseller-book-img" style="">
                                {% if bestseller.img_url == 'nan' %}
                                    <a href="/book/{{ bestseller.id }}"><img
                                            src="https://via.placeholder.com/150"
                                            class="bestseller-thumb-book-img"
                                            id="thumb-book-img"
                                            style=""></a>
                                {% else %}
                                    <a href="/book/{{ bestseller.id }}"><img src="{{ bestseller.img_url }}"
                                                                             class="bestseller-thumb-book-img"
                                                                             id="thumb-book-img"
                                                                             style=""></a>
                                {% endif %}
                            </div>
                            <a class="bestseller-title"
                               title="{{ bestseller.author }} - {{ bestseller.title }}">{{ bestseller.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div>
                    <form method="get" action="{% url 'get_book' %}" style="width:100%">
                        <div class="search">
                            <input type="text" class="searchTerm" placeholder="책 제목 또는 저자" id="search_text"
                                   name="search_text">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                    <div>
                        <button id="set_recommend_btn" class="w-btn-outline w-btn-skin-outline" type="button"
                                style="margin-bottom: 30px" onclick="set_recommend_list()">
                            관심 목록 숨기기
                        </button>
                    </div>
                </div>

                <div id="left-area" class="col-md-6">
                    <div class="left-main" style="">
                        <div class="top-area" style="">
                            <p class="top-title">내 관심 도서</p>
                            <p style="font-size: smaller; color: gray">체크 버튼 클릭 시 해당 도서와 연관된 추천 도서 표시</p>
                        </div>
                        <div class="body-area">
                            <div class="book-area" id="book-area" name="book-area"
                                 style="">

                                {% for book in profile_book %}
                                    <div class="book" style="">
                                        <div class="book-img" style="">
                                            {% if book.book.img_url == 'nan' %}
                                                <a href="/book/{{ book.book.id }}"><img
                                                        src="https://via.placeholder.com/150"
                                                        class="thumb-book-img"
                                                        id="thumb-book-img"
                                                        style=""></a>
                                            {% else %}
                                                <a href="/book/{{ book.book.id }}"><img src="{{ book.book.img_url }}"
                                                                                        class="thumb-book-img"
                                                                                        id="thumb-book-img"
                                                                                        style=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="book-info" style="width:80%">
                                            <div class="book-info-title">
                                                <a href="/book/{{ book.book.id }}"><span>{{ book.book.title }}</span></a>
                                            </div>
                                            <div class="book-info-text">
                                            <span style="">
                                            {% if book.book.author != 'nan' %}
                                                {{ book.book.author }}
                                            {% elif book.book.publichser != 'nan' %}
                                                | {{ book.book.publisher }}
                                            {% elif book.book.pub_date_2|date:"Y-m-d" != '1900-01-01' %}
                                                | {{ book.book.pub_date_2|date:"Y-m-d" }}
                                            {% endif %}
                                            </span>
                                            </div>
                                            <div class="book-info-desc">
                                            <span>
                                            {% if book.book.description != 'nan' %}
                                                {{ book.book.description }}
                                            {% endif %}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="book-btn">
                                            <a href="/book/recommend/{{ book.book.id }}">
                                                <button class="w-btn-outline w-btn-skin-outline" type="button">
                                                    <i class="fa-solid fa-circle-check"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                {% if profile_book.has_next %}
                                    <a class="infinite-more-link"
                                       href="?search_text={{ search_text }}&page={{ all_book.next_page_number }}">더 보기
                                        ...</a>
                                {% endif %}
                                <div class="loading" style="display: none;">
                                    Loading...
                                </div>
                                <script>
                                    let infinite = new Waypoint.Infinite({
                                        element: $('.book')[0],
                                        onBeforePageLoad: function () {
                                            $('.loading').show();
                                        },
                                        onAfterPageLoad: function ($items) {
                                            $('.loading').hide();
                                        }
                                    });
                                </script>

                            </div>
                        </div>
                        <div class="footer-area">

                        </div>
                    </div>
                </div>
                <div id="right-area" class="col-md-6">
                    <div class="right-main" style="">
                        <div class="top-area" style="">
                            {% if request.resolver_match.view_name == 'get_recommend_list' %}
                                <p class="top-title">추천 도서 100</p>
                                <p style="font-size: smaller; color: gray"><span
                                        style="font-weight: bold; color: black">선택 :</span> {{ selected_book }}</p>
                            {% else %}
                                <p class="top-title">전체 도서</p>
                                <p style="font-size: smaller; color: gray">총 {{ total_book }} 권의 도서</p>
                            {% endif %}
                        </div>
                        <div class="body-area">
                            <div class="book-area" id="book-area" name="book-area"
                                 style="">

                                {% for book in all_book %}
                                    <div class="book" style="">
                                        <div class="book-img" style="">

                                            {% if book.img_url == 'nan' %}
                                                <a href="/book/{{ book.id }}"><img src="https://via.placeholder.com/150"
                                                                                   class="thumb-book-img"
                                                                                   id="thumb-book-img"
                                                                                   style=""></a>
                                            {% else %}
                                                <a href="/book/{{ book.id }}"><img src="{{ book.img_url }}"
                                                                                   class="thumb-book-img"
                                                                                   id="thumb-book-img"
                                                                                   style=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="book-info" style="width:80%">
                                            <div class="book-info-title">
                                                <a href="/book/{{ book.id }}"><span>{{ book.title }}</span></a>
                                            </div>
                                            <div class="book-info-text">
                                            <span style="">
                                            {% if book.author != 'nan' %}
                                                {{ book.author }}
                                            {% elif book.publichser != 'nan' %}
                                                | {{ book.publisher }}
                                            {% elif book.pub_date_2|date:"Y-m-d" != '1900-01-01' %}
                                                | {{ book.pub_date_2|date:"Y-m-d" }}
                                            {% endif %}
                                            </span>
                                            </div>
                                            <div class="book-info-desc">
                                            <span>
                                            {% if book.description != 'nan' %}
                                                {{ book.description }}
                                            {% endif %}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="book-btn">
                                            <a href="https://search.shopping.naver.com/search/all?query={{ book.title }}&cat_id=&frm=NVSHATC">
                                                <button class="w-btn-outline w-btn-skin-outline" type="button">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                {% if all_book.has_next %}
                                    <a class="infinite-more-link"
                                       href="?search_text={{ search_text }}&page={{ all_book.next_page_number }}">더 보기
                                        ...</a>
                                {% endif %}
                                <div class="loading" style="display: none;">
                                    Loading...
                                </div>
                                <script>
                                    let infinite = new Waypoint.Infinite({
                                        element: $('.book')[0],
                                        onBeforePageLoad: function () {
                                            $('.loading').show();
                                        },
                                        onAfterPageLoad: function ($items) {
                                            $('.loading').hide();
                                        }
                                    });
                                </script>

                            </div>
                        </div>
                        <div class="footer-area">

                        </div>
                    </div>
                </div>
            </div>
            <a onclick="backToTop()" class="float">
                <i class="fa-solid fa-angles-up my-float"></i>
            </a>
        </div>
    {% endautoescape %}
{% endblock %}